.parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 10vh);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
body {
  background-color: #323232;
}

.cartelera {
  grid-area: 1 / 1 / 5 / 6;
}
.foto {
  grid-area: 7 / 1 / 10 / 2;
  padding: 20px;
  /* background-color: darkgreen; */
}
.sistema {
  grid-area: 8 / 4 / 11 / 5;
  padding: 20px;
  /* background-color: yellow; */
}
.botonJugar {
  grid-area: 10 / 1 / 11 / 2;
  padding: 20px;
  /*background-color: red; */
}
.div5 {
  grid-area: 9 / 2 / 10 / 4;
  padding: 20px;
  /* background-color: salmon; */
}
.descripcion {
  grid-area: 10 / 2 / 40 / 4;
  padding: 20px;
  /* background-color: orange; */
}
.titulo {
  grid-area: 7 / 2 / 8 / 3;
  padding: 20px;
  /* background-color: aqua; */
}
.div8 {
  grid-area: 8 / 2 / 9 / 4;
  padding: 20px;
  /* background-color: purple; */
}
