.Contenedor {
  display: block;
  background-color: #343434;
  padding-bottom: 24px;
  padding-top: 24px;
  border-radius: 0px 0px 20px 20px;
  box-shadow: 0px 20px 13px -4px rgba(0, 0, 0, 0.25);
}
.Categories {
  display: flex;
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 63px;
  padding-bottom: 24px;
  padding-top: 24px;
}
.divCategorias {
  display: none;
}
.Categoria {
  font-family: Poppins-Regular;
  font-weight: 300;
  line-height: 30px;
  font-size: 20px;
  width: 179px;
  height: 58px;
  background: #ffffff;
  border: 0;
  border-radius: 12px;
}
.input {
  width: 500px;
  height: 100%;
  border: 0;
  padding-left: 44px;
  font-size: 20px;
}
.input::placeholder {
  font-family: Poppins-Regular;
}
.buscar {
  height: 100%;
  border: 0;
  background-color: #ffffff;
  padding-right: 20px;
}
.lupa {
  height: 30px;
}
.Search {
  background-color: #ffffff ;
  opacity: 80%;
  height: 61px;
  overflow: hidden;
  border-radius: 74px;
  display: flex;
  justify-content: space-around;
}
.input:focus {
  outline: 0;
}
@media (max-width: 768px) {
  .versionDesktop{
    display: none;
  }
  .Contenedor {
    border-radius: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.25);
  }
  .containerCategories {
    width: 100vw;
    overflow: hidden;
  }
  .Search {
    height: 40px;
    width: 90%;
    border-radius: 30px;
  }
  .buscar {
    min-width: 25px;
    width: 5%;
    padding: 0px;
    padding-right: 5px;
  }
  .input {
    font-size: 15px;
    padding-left: 10px;
    width: 90%;
  }
  .Categories {
    width: 100%;
    flex-direction: column-reverse;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 24px;
    padding-top: 20px;
  }
  .lupa {
    position: relative;
    top: 0;
    height: 20px;
  }
  .Categoria {
    display: none;
  }
  .Contenedor {
    padding: 0px;
  }
  .divCategorias {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .textoVerMas {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-self: flex-end;
  }
  .textoVerMas p{
    margin-top: 10px;
    margin-bottom: 0;
    color: #ffffff;
    font-family: Poppins-semiBold;
    font-style: normal;
    font-weight: 600;
    font-size: 1rem;
    line-height: 18px;
    letter-spacing: 0.125em;
    margin-left: 10px;
  }
}
